SBE_data/tools/backup.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="servers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="server">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="backupdirectory" type="xs:string" />
              <xs:element name="intervall" type="xs:string" />
              <xs:element name="date" type="xs:string" />
              <xs:element name="type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
