backup/config/backup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="servers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="server">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="backupdirectory" type="xs:string" />
              <xs:element name="intervall" type="xs:string" />
              <xs:element name="date" type="xs:string" />
              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="daily" />
                    <xs:enumeration value="weekly" />
                    <xs:enumeration value="monthly" />
                    <xs:enumeration value="yearly" />
                    <xs:enumeration value="latest" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="retention" type="xs:integer" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
